*{
    box-sizing: border-box;
}
body{
    background-color: darkblue;
}
.main{
    background-color: yellow;
    width:50%;
    height:250px;
    margin-left:25%;
    text-align: center;
}
p{
    font-size: 5rem;
}
button{
    width:150px;
    height:30px;
}
